.container {
    background: gray;
    display: flex;
    justify-content: space-around;
}

.article {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.about {
    color: white;
}