.container {
  padding: 0 2rem;
}

.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.character {
  width: 100%;
  margin: auto;
  background: black;
  padding-bottom: 20px;
  border-radius: 20px;
}

.text {
  color: white;
  text-align: center;
  margin: 5px auto;
}

.text:hover {
  opacity: 0.7;
}

.image {
  margin: auto;
  display: flex;
  justify-content: center;
}